/.idea/
/.idea/*
.vscode
.vscode.*

/logs/
/logs/*
*.log

/tmp/
/tmp/*

/sql/
/sql/*
*.sql

/node_modules/
/node_modules/*
/vendor/
/vendor/*
composer.lock

/bitrix/
/upload/


/PlayNext/build/
/PlayNext/build/*

/PlayNext/assets/
/PlayNext/assets/*

/src/icons/
/src/icons/*

package-lock.json
